body{
    margin: 0;
    padding: 0;
    background-image: url("others/main_background.jpg");
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
}
.main_title{
    font-size: 60pt;
    margin-bottom: 5%;
}
.main{
    font-size: 30pt;
}
.accueil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}
/* 1st BAR FLEX -- contain -- (Avatar, Pseudo, Title, Messages and Settings cases) */
#title{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
h1{
    margin: 0;
    width: 29.5%;
    font-family: 'Lobster', cursive;
    letter-spacing: 3px;
    font-size: 30pt;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title_case{
    height: 80px;
    margin-top: 10px;
}
.avatar{
    width: 6.5%;
    background: #6495ed;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.name{
    width: 24.5%;
    background: #6495ed;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.pseudo{
    font-size: 15pt;
    font-weight: bold;
}

.etat{
    background: rgb(58, 58, 58);
    margin-left: 5px;
    font-weight: bold;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 10pt;
    cursor: pointer;
}

.photo{
    height: 98%;
    width: 96%;
    background: rgba(43, 57, 158, 0.77);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.messages{
    width: 24.5%;
    background: #6495ed;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20pt;
    font-weight: bold;
    overflow: hidden;
    cursor: pointer;
}
.fa-envelope-open-text{
    font-size: 35pt;
    margin-right: 5%;
}
.settings{
    width: 9.5%;
    background: #6495ed;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30pt;
    cursor: pointer;
}
.settings:hover, .messages:hover{
    background: #99b3ff;
}
.fa1{
    margin-right: 10px;
    color: rgba(100, 149, 237, 0.6);
    font-size: 30px;
}
.fa2{
    margin-left: 10px;
    color: rgba(100, 149, 237, 0.6);
    font-size: 30px;
}

/* 2nd BAR FLEX -- contain -- (List of all friends, the general discussion and the send bar) */
#content{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.content_case{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.25%;
    margin-right: 0.25%;
    height:82vh;
}
.list{
    width: 30%;
    border: 3px solid cornflowerblue;
    background: rgba(47, 52, 62, 0.67);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: scroll;
}
::-webkit-scrollbar{
    z-index: 0;
    display: none;
}

.chat{
    width: 70%;
    border: 3px solid cornflowerblue;
    background: rgba(47, 52, 62, 0.67);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.send_bar{
    border: 3px solid cornflowerblue;
    background: #ffffff;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
}
.all_messages{
    width: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.send{
    height: 35px;
}
.input_txt{
    width: 80%;
    padding-left: 10px;
    font-size: 16pt;
}
.input_sbmt{
    width: 20%;
    height: 41px;
    background: #4d6fb3;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 12pt;
    cursor: pointer;
}
.input_sbmt:hover {
    background: #99b3ff;
}
.friends_list{
    background: cornflowerblue;
    width: 95%;
    text-align: center;
    margin: 2% 0 0 0;
    height: 80px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.connected_id{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    align-items: baseline;
}
.connected_avatar{
    border: 1px solid #4d6fb3;
    height: 98%;
    width: 22%;
    background: rgba(43, 57, 158, 0.77);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.description{
    color: #e2e2e2;
}
.message_sent{
    color: black;
    background: #a9bdcc;
    padding-left: 1%;
    padding-right: 1%;
    margin-top: 2%;
    border-radius: 20px;
    width: 95%;
}
.pseudo_sent{
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 16pt;
}
.date_sent{
    color: #3a3a3a;
    font-size: 10pt;
}